{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Bienvenue !</h1>
                <h4>
                    Notre plateforme est dédiée à un usage privé. Lors de votre inscription, un message sera envoyé à l'administrateur pour l'informer de votre demande. Si votre inscription est approuvée, vous pourrez alors profiter pleinement de notre service cloud. Merci pour votre compréhension et bienvenue sur notre plateforme.
                </h4>
            </div>
        </div>
    </div>
{% endblock %}
