<h1>Un nouvel utilisateur vient de s'inscrire !</h1>
<p>Nom d'utilisateur : {{ user.username }}</p>
<p>Pour approuvé ou non l'accès à la plateforme veuillez effectuer une action dans <a href="{{ absolute_url(path('app_admin_users')) }}">l'administration</a>.</p>